<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="static/css/card.css">
    <title>Карточка</title>
</head>
<body>
<div class="card-grid">
    {{ range .Cities }}
        <div class="card">
            <div class="container">
                <div class="title">{{ .Name }}</div>
            </div>
            <img src="{{ .ImageURL }}"
                 alt="Image"
                 class="photo">
        </div>
    {{ end }}
</div>
</body>
</html>
